main {
  display: grid;
  justify-content: space-around;
}

h2 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-template-rows: repeat(3, 200px);
  min-width: 600px;
}

button {
  height: 50px;
  color: purple;
  cursor: pointer;
  border-radius: 8px;
}

button:active {
  background: black;
}

@media (max-width: 640px), (max-width: 320px) {
  .board {
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-template-rows: repeat(3, 100px);
    min-width: 300px;
  }

  .field:hover {
    border: 3px solid rgba(19, 18, 18, 0.267);
    background: white;
    cursor: pointer;
  }

  p {
    font-size: 10px;
  }
}
