<main>
  <h2>JOGO DA VELHA</h2>

  <div class="board">
    <app-field
      *ngFor="let value of fieldValues; let i = index"
      [fieldMark]="value"
      [index]="i"
      (click)="onPlayerMove(i)"
    ></app-field>
  </div>

  <div class="turn-controller">
    <p *ngIf="!isGameWon() && !isGameTie() && playerOnTurn.name === 'jogador'">
      Sua vez...
    </p>
    <p *ngIf="!isGameWon() && !isGameTie() && playerOnTurn.name === 'roboto'">
      ROBOTO está jogando...
    </p>
    <div *ngIf="isGameWon() && winnerPlayer.name == 'jogador'">
      <img src="../assets/images/award.png" height="30" />
      <span> Parabéns você venceu !!</span>
    </div>
    <div *ngIf="isGameWon() && winnerPlayer.name == 'roboto'">
      <img src="../assets/images/award.png" height="30" />
      <span> ROBOTO venceu !!</span>
    </div>

    <P *ngIf="isGameTie()">Empate</P>
  </div>

  <app-scoreboard [players]="players"></app-scoreboard>

  <button (click)="restartGame()">REINICIAR</button>
</main>
