<main>
  <h2>JOGO DA VELHA</h2>

  <div class="board">
    <app-field
      *ngFor="let value of fieldValues; let i = index"
      [fieldMark]="value"
      [index]="i"
      (click)="onPlayerMove(i)"
    ></app-field>
  </div>

  <div class="turn-controller">
    <p *ngIf="!isGameWon() && !isGameTie()">
      Jogador da vez: {{ playerOnTurn.name }}
    </p>
    <P *ngIf="isGameWon()">Jogador vencedor: {{ winnerPlayer.name }}</P>
    <P *ngIf="isGameTie()">Empate</P>
  </div>

  <app-scoreboard [players]="players"></app-scoreboard>

  <button (click)="restartGame()">REINICIAR</button>
</main>
