div {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size: 35px;
  border: 3px solid black;
}

div:hover {
  background: rgba(0, 0, 0, 0.103);
  border: 3px solid red;
  cursor: pointer;
}

@media (max-width: 640px), (max-width: 320px) {
  div {
    line-height: 100px;
  }
}

